.Awesome {
  position: fixed;
  width: 100%;
  padding: 20px;
  max-width: 550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #e2beff;
  text-align: center;
  color: #fff;
  z-index: 999;
  border-radius: 8px;
  h2 {
    font-size: 20px;
  }
  a {
    color: #284d86;
    font-size: 20px;
  }
}
.Blocker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 990;
}
